[Desktop Entry]
Name=Pang Zero
Comment=Pang Zero - clone of Super Pang
Comment[pl]=Pang Zero - klon Super Panga
Icon=pangzero.png
Exec=pangzero
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Encoding=UTF-8
# vi: encoding=utf-8
